body{
    background-image: url(/img/FondoP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.712);
}
.titulo{
    font-size: 64px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.texto{
    font-size: 24px;
    color: white;
    text-align: center;
    max-width: 600px;
}
.contenedor-botones{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.login{
    background-color:rgb(165, 169, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.login:hover{
    background-color: rgb(127, 133, 255);
}
.registro{
    background-color: rgb(86, 90, 165);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.registro:hover{
    background-color: rgb(54, 59, 153);
}
#navbar{
    background-color: rgba(0, 255, 170, 0.801);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 10;
position: fixed;
top: 0;

width: 100%;
display: flex;

}

