<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/output.css" />
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Centro Pokémon</title>
  </head>
  <body>

    <nav
      id="navbar"
    ></nav>

    <div class="centro">
      <h1 class="titulo">Centro Pokémon</h1>
      <div class="contenedor">
        <p class="texto">
          Bienvenido al Centro Pokémon, tu tienda en línea para peluches y figuras de colección de tus personajes favoritos. Explora nuestro catálogo y encuentra el artículo perfecto para ti o para regalar.
        </p>
        <div class="contenedor-botones">
          <a
            class="login"
            href="/login/"
            >Login</a
          >
          <a
            class="registro"
            href="/signup/"
            >Registro</a
          >
        </div>
      </div>
    </div>
    <script src="/components/nav.js"></script>
  </body>
</html>