<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
  <title>Centro Pokémon</title>
  </head>
  <header>
    <div>
      <img id="pokebola" src="/img/pokebola.png" width="50px" />
    </div>
    <div id="links">
      <a class="linksP" href="#pokebola">Inicio</a>
      <p id="tienda" class="linksP">Tienda</p>
      <a class="linksP" href="#abajo">Contacto</a>
      <p id="logout" class="linksP">Cerrar Sesión</p>
    </div>
  </header>
  <body>
    <div id="entrada">
      <div id="texto">
          <h1>
            Centro Pokémon
          </h1>
        <h2>
          Tu destino para peluches y figuras de colección de tus personajes favoritos
        </h2>
        <button id="boton">Explorar Nuestro Catálogo</button>
      </div>
    </div>
  <h1 id="popular">Más vendidos</h1>
    <div id="ventas">
      <div class="Productos">
        <img src="/img/peluches/eevee.jpg" alt="" width="300px" />
        <p>Peluche de Eevee</p>
        <p>Precio: 45$</p>
        <button class="enviarC">Ir a la tienda</button>
      </div>
      <div class="Productos">
        <img src="/img/peluches/pikachu.jpg" alt="" width="300px" />
        <p>Peluche de Pikachu</p>
        <p>Precio: 50$</p>
        <button class="enviarC">Ir a la tienda</button>
      </div>
      <div class="Productos">
        <img src="/img/peluches/gengar.jpg" alt="" width="300px" />
        <p>Peluche de Gengar</p>
        <p>Precio: 45$</p>
        <button class="enviarC">Ir a la tienda</button>
      </div>
    </div>
  </body>
  <footer id="abajo">
    <div class="redes">
      <p>Correo: CentropokemonVNZ@gmail.com</p>
  <p>Ubicación: Venezuela, Caracas, estación Miranda</p>
    </div>
    <div class="redes">
      <h3>Elaborado por:</h3>
      <p>Ángel Hernández</p>
      <a href="https://github.com/AngelhtProgrammer/Tienda-peluches-Pokemon" target="_blank"
        ><img src="/img/github.png" alt="GitHub" width="70px"
      /></a>
    </div>
  </footer>
  <script src="index.js"></script>
</html>
